asyncgui==0.6.3
asynckivy==0.6.4
buildozer==1.5.0
certifi==2026.2.25
charset-normalizer==3.4.5
Cython==3.2.4
distlib==0.4.0
docutils==0.22.4
filelock==3.25.0
filetype==1.2.0
idna==3.11
Kivy==2.3.1
Kivy-Garden==0.1.5
kivymd @ https://github.com/kivymd/KivyMD/archive/master.zip#sha256=033613238896799a6f7bb3fc451d2d8191515b3b8a0ea1e04682599b19dcf83e
materialshapes==0.3
materialyoucolor==3.0.2
pexpect==4.9.0
pillow==10.4.0
platformdirs==4.9.4
psycopg2-binary==2.9.11
ptyprocess==0.7.0
pycairo==1.29.0
Pygments==2.19.2
python-discovery==1.1.0
requests==2.32.5
setuptools==82.0.0
sh==2.2.2
urllib3==2.6.3
virtualenv==21.1.0
